/* toolbar */
#main-toolbar {
    z-index: -1;
    width: 100%;
    height: 30px;
    padding: 3px 5px;
}

#main-toolbar .buttons {
    text-align: right;
}

#main-toolbar .buttons > a {
    display: inline-block !important;
    margin-top: 0 !important;
}

/* sidebar */
.main-view .sidebar {
    overflow: hidden;
}

/* content */
.main-view .content {
    top: 30px;
    right: 0;
}

/*---------------------------------------------------------------------------*/
/* TABS */
/* https://github.com/albertxing/brackets-tabs */
/*---------------------------------------------------------------------------*/
/* toolbar */
.content.tabs + #main-toolbar {
    width: auto;
    height: 31px;
    background: #404040;
    box-shadow: 0 -2px 0 #333 inset;
}

/* content */
.main-view .content.tabs {
    top: 0;
}